// COLORS
$dark: #222;
$light: #f5f5f5;
$peach: #fab1a0;

$theme-colors: (
  dark: $dark,
  light: $light,
  peach: $peach,
);

// FONTS
$font-borel: "Borel-Regular";
$font-montserrat: "Montserrat-Regular";

// BODY
$body-bg: $dark;
$body-color: $light;

// LINKS
$link-color: $peach;

// NAVBAR
//  (LINKS)
$navbar-light-brand-color: $dark;
$navbar-light-brand-hover-color: $light;
$nav-link-color: $dark;

// FIGURES
$figure-caption-color: $light;

// BADGES
$badge-font-weight: initial;
