# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: stickers-dev workflow

on:
  push:
    branches: ["dev"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Checkout nebula-genesis
        uses: actions/checkout@v3
        with:
          repository: abstract-core/nebula-genesis
          path: nebula-genesis

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"

      - name: Enable Notion data cache
        uses: actions/cache@v3
        with:
          key: notion-data-cache
          path: ./cache

      - name: Enable Notion files cache
        uses: actions/cache@v3
        with:
          key: notion-files-cache
          path: ./static

      - name: Download and cache Notion data
        run: |
          cd ./nebula-genesis
          npm i
          npx tsc
          node index.js \
            NOTION_TOKEN=${{ secrets.NOTION_TOKEN }} \
            DATABASE_ID=${{ secrets.PAGES_DATABASE_ID }} \
            SITE_FOLDER_PATH=.. \
            CACHE_FOLDER_NAME=pages \
            ON_OR_AFTER=${{ vars.ON_OR_AFTER }} \
            REINIT_CACHE=${{ vars.REINIT_CACHE_PAGES }}
          node index.js \
            NOTION_TOKEN=${{ secrets.NOTION_TOKEN }} \
            DATABASE_ID=${{ secrets.PRODUCTS_DATABASE_ID }} \
            SITE_FOLDER_PATH=.. \
            CACHE_FOLDER_NAME=products \
            ON_OR_AFTER=${{ vars.ON_OR_AFTER }} \
            REINIT_CACHE=${{ vars.REINIT_CACHE_PRODUCTS }}

      - name: Build website
        run: |
          npm i --force
          npx gatsby build

      - name: FTP dev environment
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: ${{ secrets.FTP_SERVER }}
          user: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          localDir: ./public
          remoteDir: ${{ secrets.FTP_DEV_DIR }}
